@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

$body-font-family: 'Montserrat';
$heading-font-family: 'Montserrat';

.v-application {
    font-family: $body-font-family, sans-serif !important;
    .text-h1,
    .text-h2,
    .text-h3,
    .text-h4,
    .text-h5,
    .text-h6,
    .body-1,
    .body-2,
    .subtitle-1,
    .subtitle-2,
    .caption,
    .overline {
      // To pin point specific classes of some components
      font-family: $heading-font-family, sans-serif !important;
   }
}

// h2 style with line

h1 {
  line-height: 1.25 !important;
}

h2 {
  display: flex;
  align-items: center;
}

h2::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  border: .5px solid;
  max-width: 80px;
  opacity: .7;
}

// styling links & router link

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    background-color: #0EAB51;
  }
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.87) !important;
}

.solar--active {
  color: #EF8F20 !important;
  font-weight: bold;
}
.primary--active {
  color: #0EAB51 !important;
  font-weight: bold;
}

// utility

.site-wrapper {
  max-width: 90em !important;
  margin-inline: auto;
}

.relative {
  position: relative;
  z-index: 1;
}

// results numbers ( *Intro.vue // *Products.vue )

.results-numbers {
  // max-width: 200px;
  padding-inline: .5em;
}

// process timeline styles tweak

.v-timeline-item__dot--small .v-timeline-item__inner-dot {
  height: 6px;
  margin: 8px;
  width: 6px;
}

.theme--light.v-timeline .v-timeline-item__dot {
border: 1px solid rgb(191, 191, 191);
}

// transition bug jump disable

.fade-transition-leave-active{
  position: absolute;
  width:100%;
}

// transition styling

.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .5s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter,
.fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

.v-tab--active {
  font-weight: bold !important;
  color: #0EAB51 !important;
}


// custom marker

.custom-marker li::marker {
  content: url(../assets/svgs/doublecircle.svg);
}

.custom-marker > li {
  padding-left: 0.5em;
}